.user-modal {
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-open {
    display: block;
  }

  .modal-close {
    display: none;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-top: 5px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .modal-btnclose {
    text-align: right;
    margin-bottom: 5px;

    .close {
      color: #aaaaaa;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .field {
    margin-top: 30px;
    position: relative;

    input {
      border: 1px solid black;
      padding: 8px;
      font-size: 20px;
      width: 100%;
    }
  }

  .control {
    margin-top: 30px;
    text-align: right;

    .btn {
      border: none;
      background: rgb(2, 149, 194);
      color: white;
      outline: none;
      padding: 5px;
      font-size: 13px;
      cursor: pointer;
    }

    &-ok {
      margin-right: 5px;
    }

    &-nok {
      background: rgb(226, 94, 94) !important;
    }
  }
}
